---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello World!</h1>
		<p>Nu bliver det vildt</p>

		<section>
			<h2>kort sektion</h2>
			<article>
				<img>
				<p>tag</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
			</article>
		</section>
	</body>
</html>
